---
import { getCollection } from 'astro:content';
import Work from '../../components/features/Work.astro';
import Link from '../../components/Link.astro';
import MdLayout from '../../layouts/MdLayout.astro';

const works = (await getCollection('works')).toSorted((a, b) => {
  return (a.data.sortKey ?? Infinity) - (b.data.sortKey ?? Infinity);
});
---

<MdLayout frontmatter={{
  title: "Works",
  create_date: "2022-11-16",
  update_date: "2024-09-10",
  og_description: "開発中のプロジェクト",
}}>
  <h2>作っているもの</h2>

  <p>開発中のプロジェクト</p>

  <div>
    {
      works.map((work) => <Work work={work.data} showDate slugToLink={work.id}/>)
    }
  </div>

  <hr />

  <h2><Link url="/works/archives/">作っていたもの</Link></h2>

  <p>今はもう更新していないもの</p>

  <h2><Link url="/works/scraps/">ボツ</Link></h2>

  <p>未完成のままやめてしまったもの</p>

</MdLayout>

