---
import Work from '../../components/features/Work.astro';
import { scrap_works } from '../../data/works';
import MdLayout from '../../layouts/MdLayout.astro';
---

<MdLayout frontmatter={{
  title: "ボツ",
  create_date: "2022-11-16",
  update_date: "2024-09-10",
  no_toc: true
}}>
  <p>未完成のままやめてしまったもの。下に行くほど古い。</p>

  <div> {scrap_works.map(work => <Work work={work} showDate/>)} </div>
</MdLayout>

