---
import { TableConv } from '../../components/react/TableConv';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Table Converter" og_title='CSV・エクセルの表をMarkdown・LaTexに変換' og_description='変換処理はブラウザの内部で行われ、外部には送信されません'>
  <p>CSV を Markdown や LaTeX などの表形式に変換します。</p>
  <p>変換処理はブラウザの内部で行われ、外部には送信されません。</p>
  <TableConv client:only="react" />
</Layout>
