---
import Apps_ from '../components/features/Apps.astro';
import { main_apps } from '../data/apps';
import MdLayout from '../layouts/MdLayout.astro';
---

<MdLayout frontmatter={{
  title: "ウェブアプリ一覧",
  create_date: "2022-11-16",
  update_date: "2024-09-11",
  og_description: "公開しているウェブアプリの一覧",
  no_toc: true
}}>
  <p>公開しているウェブアプリの一覧です。</p>
  <Apps_ apps={main_apps} />
</MdLayout>
