<script>
  function swap(data, a, b, stat) {
    const tmp = data[a];
    data[a] = data[b];
    data[b] = tmp;
    stat.copy += 3;
  }

  function gt(lhs, rhs, stat) {
    ++stat.comp;
    return lhs > rhs;
  }

  function toPercent(min, max, value) {
    return (value - min) / (max - min);
  }

  function fromPercent(min, max, percent) {
    return percent * (max - min) + min;
  }

  function showStat(stat) {
    document.getElementById("result-comparison").innerText = stat.comp;
    document.getElementById("result-copy").innerText = stat.copy;
    document.getElementById("result-step").innerText = stat.step;
  }

  function generateData() {
    const type = document.getElementById("data-type").value;
    const len = document.getElementById("num-data").value;
    let arr = [];
    if (type === "random") {
      for (let i = 0; i < len; ++i) {
        arr.push(Math.random());
      }
    }
    return arr;
  }

  function dataDrawer(canvas_, gradationFunc) {
    let row = -1;
    const gradation = gradationFunc;
    const canvas = canvas_;
    const rowHeight = 4;

    function f(arr, markers) {
      ++row;
      const width = canvas.width / arr.length;
      let ctx = canvas.getContext("2d");
      if (canvas.height < (row + 1) * rowHeight) {
        if (canvas.height * 2 > 16000) {
          stopExecution = true;
          return;
        }
        const img = ctx.getImageData(0, 0, canvas.width, canvas.height);
        canvas.height *= 2;
        ctx.putImageData(img, 0, 0);
      }

      for (let i = 0; i < arr.length; ++i) {
        const color = gradation(arr[i]);
        ctx.fillStyle = color;
        ctx.fillRect(i * width, row * rowHeight, width, rowHeight);
      }

      ctx.clearRect(0, (row + 1) * rowHeight, canvas.width, rowHeight + 1 + 4);

      for (let i = 0; i < markers.length; ++i) {
        ctx.fillStyle = "red";
        ctx.beginPath();
        ctx.moveTo(markers[i] * width + width / 2, (row + 1) * rowHeight + 1);
        ctx.lineTo(
          markers[i] * width + width / 2 - 2,
          (row + 1) * rowHeight + 1 + 4
        );
        ctx.lineTo(
          markers[i] * width + width / 2 + 2,
          (row + 1) * rowHeight + 1 + 4
        );
        ctx.fill();
      }
    }
    return f;
  }

  function getGradation(min, max) {
    const type = document.getElementById("gradation-type").value;
    if (type === "gray") {
      return gradationGrayscale(min, max);
    } else if (type == "hsl") {
      return gradationHsl(min, max);
    } else {
      return gradationColormapLib(type)(min, max);
    }
  }

  function gradationGrayscale(min_, max_) {
    const min = min_;
    const max = max_;

    function f(value) {
      const p = toPercent(min, max, value);
      const c = fromPercent(0, 255, 1.0 - p);
      return "rgb(" + c + "," + c + "," + c + ")";
    }
    return f;
  }

  function gradationHsl(min_, max_) {
    const min = min_;
    const max = max_;

    function f(value) {
      const p = toPercent(min, max, value);
      const h = fromPercent(0, 240, 1.0 - p);
      return "hsl(" + h + ", 100%, 50%)";
    }
    return f;
  }

  function gradationColormapLib(name_) {
    const name = name_;
    function g(min_, max_) {
      const min = min_;
      const max = max_;
      const colors = window.Colormap({
        colormap: name,
        nshades: document.getElementById("num-data").value,
        format: "hex",
        alpha: 1,
      });

      function f(value) {
        const p = toPercent(min, max, value);
        const color = colors[Math.floor(fromPercent(0, colors.length - 1, p))];
        return color;
      }
      return f;
    }
    return g;
  }

  function getSorter() {
    const algo = document.getElementById("algo-type").value;
    if (algo === "bubble") {
      return bubbleSort;
    } else if (algo === "simple") {
      return simpleSort;
    } else if (algo === "selection") {
      return selectionSort;
    } else if (algo === "insertion") {
      return insertionSort;
    } else if (algo === "shell") {
      return shellSort;
    } else if (algo === "quick") {
      return quickSort;
    }
  }

  function* bubbleSort(data, stat) {
    const len = data.length;
    for (let i = 0; i < len - 1; ++i) {
      for (let j = len - 1; i < j; --j) {
        if (gt(data[j - 1], data[j], stat)) {
          swap(data, j - 1, j, stat);
        }
        ++stat.step;
        yield {arr: data, markers: [i, j]};
      }
    }
  }

  function* simpleSort(data, stat) {
    const len = data.length;
    for (let i = 0; i < len - 1; ++i) {
      for (let j = i + 1; j < len; ++j) {
        if (gt(data[i], data[j], stat)) {
          swap(data, i, j, stat);
        }
        ++stat.step;
        yield {arr: data, markers: [i, j]};
      }
    }
  }

  function* selectionSort(data, stat) {
    const len = data.length;
    let minpos = 0;
    for (let i = 0; i < len - 1; ++i) {
      for (let j = i + 1; j < len; ++j) {
        if (gt(data[minpos], data[j], stat)) {
          minpos = j;
        }
        ++stat.step;
        yield {arr: data, markers: [i, j]};
      }
      swap(data, i, minpos, stat);
    }
  }

  function* insertionSort(data, stat) {
    const len = data.length;
    let minpos = 0;
    let w;
    for (let i = 1; i < len; ++i) {
      w = data[i];
      let j = i - 1;
      while (gt(data[j], w, stat) && j >= 0) {
        data[j + 1] = data[j];
        --j;
        ++stat.copy;
        ++stat.step;
        yield {arr: data, markers: [i, j]};
      }
      data[j + 1] = w;
      ++stat.copy;
    }
  }

  // TODO: rewrite
  function* shellSort(data, stat) {
    const len = data.length;
    let h;
    for (h = 1; h < len / 9; h = h * 3 + 1);
    console.log("h", h);
    for (; h > 0; h = Math.floor(h / 3)) {
      for (let i = h; i < len; ++i) {
        for (let j = i; j >= h && gt(data[j - h], data[j], stat); j -= h) {
          swap(data, j, j - h, stat);
          ++stat.step;
          yield {arr: data, markers: [i, j, j - h]};
        }
      }
    }
  }

  // TODO: rewrite
  function* quickSort(data, stat) {
    function median3(a, b, c) {
      let min = a;
      let mid = b;
      let max = c;
      if (min > max) {
        let tmp = min;
        min = max;
        max = tmp;
      }
      if (min > mid) {
        let tmp = min;
        min = mid;
        mid = min;
      }
      if (mid > max) {
        let tmp = mid;
        mid = max;
        max = mid;
      }
      return mid;
    }

    let stack = [];
    stack.push({first: 0, last: data.length - 1});

    while (stack.length > 0) {
      let d = stack.pop();
      let first = d.first;
      let last = d.last;

      if (last - first <= 0) continue;

      let pivot = median3(
        data[first],
        data[Math.floor((first + last) / 2)],
        data[last]
      );

      let l = first;
      let r = last;
      while (l <= r) {
        while (l < last && gt(data[l], pivot, stat)) ++l;
        while (r > first && !gt(data[r], pivot, stat)) --r;
        if (l > r) break;
        swap(data, l, r, stat);
        ++stat.step;
        yield {arr: data, markers: [l, r]};
        ++l;
        --r;
      }

      stack.push({first: first, last: l - 1});
      stack.push({first: l, last: last});
    }
  }

  let stopExecution = false;

  const executeStepByStep = async function () {
    const canvas = document.getElementById("output");
    const width = document.querySelector(".sort-main").clientWidth;
    canvas.width = Math.min(
      width - 20,
      4 * document.getElementById("num-data").value
    );
    console.log("set #output width", width);
    stopExecution = false;
    document.getElementById("exec-step-by-step").setAttribute("disabled", true);

    const wait = async (ms) =>
      new Promise((resolve) => setTimeout(resolve, ms));

    let stat = {copy: 0, comp: 0, step: 0};
    let data = generateData();
    let draw = dataDrawer(
      canvas,
      getGradation(Math.min(...data), Math.max(...data))
    );
    let iter = getSorter()(data, stat);
    let v;
    draw(data, []);
    while (!(v = iter.next()).done) {
      draw(v.value.arr, v.value.markers);
      showStat(stat);
      const interval = document.getElementById("step-interval").value;
      await wait(interval);
      if (stopExecution) break;
    }
    showStat(stat);
  };

  const showLegend = function () {
    const gradation = getGradation(0, 100);
    const canvas = document.getElementById("gradation-canvas");
    let ctx = canvas.getContext("2d");
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    const height = canvas.height;
    const width = canvas.width / 100;
    for (let i = 0; i < 100; ++i) {
      ctx.fillStyle = gradation(i);
      ctx.fillRect(i * width, 0, width, height);
    }
  };

  window.addEventListener("load", function () {
    const canvas = document.getElementById("output");
    const width = document.querySelector(".sort-main").clientWidth;
    canvas.width = width - 20;
    console.log("set #output width", width);

    document
      .getElementById("exec-step-by-step")
      .addEventListener("click", executeStepByStep);
    document.getElementById("stop-btn").addEventListener("click", function () {
      stopExecution = true;
      document.getElementById("exec-step-by-step").removeAttribute("disabled");
    });
    document.getElementById("reset-btn").addEventListener("click", function () {
      window.location.reload();
    });
    document.getElementById("save-btn").addEventListener("click", function () {
      const canvas = document.getElementById("output");
      const base64 = canvas.toDataURL("image/png");
      window.location.href = base64;
    });
    document
      .getElementById("gradation-type")
      .addEventListener("change", showLegend);
    showLegend();
  });
</script>
<style>
  #settings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .sort-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .sort-flow {
    display: flex;
    flex-direction: column;
  }

  .sort-flow .sort-main {
    flex-grow: 1;
  }

  .sort-main {
    min-height: 400px;
  }
</style>
<div class="sort-flow">
  <div class="sort-header">
    <h1 style="font-size: 16pt; padding: 0; margin: 0">
      Sort Visualizer - ソートアルゴリズムを可視化
    </h1>
    <div id="settings">
      <fieldset>
        <legend>データ設定</legend>

        <div>
          <label for="num-data">データの数:</label>
          <datalist id="num-data-list">
            <option value="8" />
            <option value="16" />
            <option value="32" />
            <option value="64" />
            <option value="128" />
            <option value="256" />
            <option value="512" />
            <option value="1024" />
          </datalist>
          <input type="number" id="num-data" min="1" max="1024" value="32" list="num-data-list" />
        </div>

        <div>
          <label for="data-type">データ種類:</label>
          <select id="data-type">
            <option value="random">ランダム</option>
          </select>
        </div>
      </fieldset>
      <fieldset>
        <legend>アルゴリズム設定</legend>
        <div>
          <label for="">アルゴリズム:</label>
          <select id="algo-type">
            <option value="bubble">バブルソート</option>
            <option value="simple">シンプルソート</option>
            <option value="selection">選択ソート</option>
            <option value="insertion">挿入ソート</option>
            <option value="shell">シェルソート</option>
            <option value="quick">クイックソート</option>
          </select>
        </div>
      </fieldset>
      <fieldset>
        <legend>見た目の設定</legend>
        <div>
          <select id="gradation-type">
            <option value="inferno">Inferno</option>
            <option value="hsl">虹</option>
            <option value="gray">グレースケール</option>
            <option value="jet">Jet</option>
            <option value="hsv">HSV</option>
            <option value="hot">Hot</option>
            <option value="cool">Cool</option>
            <option value="spring">Spring</option>
            <option value="summer">Summer</option>
            <option value="autumn">Autumn</option>
            <option value="winter">Winter</option>
            <option value="bone">Bone</option>
            <option value="copper">Copper</option>
            <option value="YlGnBu">YlGnBu</option>
            <option value="greens">Greens</option>
            <option value="YlOrRd">YlOrRd</option>
            <option value="bluered">Bluered</option>
            <option value="RdBu">RdBu</option>
            <option value="picnic">Picnic</option>
            <option value="portland">Portland</option>
            <option value="blackbody">Blackbody</option>
            <option value="earth">Earth</option>
            <option value="electric">Electric</option>
            <option value="viridis">Viridis</option>
            <option value="magma">Magma</option>
            <option value="plasma">Plasma</option>
            <option value="warm">Warm</option>
            <option value="rainbow-soft">Rainbow-soft</option>
            <option value="bathymetry">Bathymetry</option>
            <option value="cdom">Cdom</option>
            <option value="chlorophyll">Chlorophyll</option>
            <option value="density">Density</option>
            <option value="freesurface-blue">Freesurface-blue</option>
            <option value="freesurface-red">Freesurface-red</option>
            <option value="oxygen">Oxygen</option>
            <option value="par">Par</option>
            <option value="phase">Phase</option>
            <option value="salinity">Salinity</option>
            <option value="temperature">Temperature</option>
            <option value="velocity-blue">Velocity-blue</option>
            <option value="velocity-green">Velocity-green</option>
            <option value="cubehelix">Cubehelix</option>
          </select>
        </div>
        <div>
          <canvas id="gradation-canvas" height="20" width="100"></canvas>
        </div>
      </fieldset>

      <fieldset>
        <legend>実行</legend>
        <div>
          <label for="step-interval">インターバル(ミリ秒):</label>
          <br />
          <input id="step-interval" type="number" min="10" max="10000" step="10" value="50" />
        </div>
        <div>
          <button id="exec-step-by-step">実行</button>
          <button id="stop-btn">停止</button>
        </div>
      </fieldset>
      <fieldset>
        <legend>操作</legend>
        <div>
          <div>
            <button id="reset-btn">リセット</button>
          </div>
          <div>
            <button id="save-btn">画像を保存</button>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>実行結果</legend>
        <div>比較回数: <span id="result-comparison"></span></div>
        <div>コピー回数: <span id="result-copy"></span></div>
        <div>ステップ数: <span id="result-step"></span></div>
      </fieldset>
    </div>
  </div>
  <div class="sort-main">
    <canvas id="output" height="300" width="100" style="
        border: 1px solid var(--text-color);
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
        display: block;
      "></canvas>
  </div>
</div>
<script>
  // save settings to Local Storage
  document.querySelectorAll("select, input").forEach((element) => {
    element.addEventListener("change", (event) => {
      localStorage.setItem("sort-" + event.target.id, event.target.value, {
        expires: 365,
      });
    });
  });

  // resume settings from Local Storage
  document.querySelectorAll("select, input").forEach((element) => {
    const value = localStorage.getItem("sort-" + element.id);
    if (value) {
      element.value = value;
    }
  });
</script>
