---
import { ClientRouter } from "astro:transitions";

import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";
---

<html lang="ja">
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <ClientRouter />
  <body>
    <main>
      <slot />
    </main>
    <Breadcrumbs linkTextFormat='sentence'>
      <div slot='separator'>»</div>
    </Breadcrumbs>
  </body>
</html>
