---
import { ClientRouter } from "astro:transitions";

import { Breadcrumbs } from "astro-breadcrumbs";
import "uaplus/uaplus.css";
import "astro-breadcrumbs/breadcrumbs.css";

const { frontmatter: { 
  title, 
  disable_breadcrumbs,
  disable_toc,
  description,
  image,
  date_created,
  date_modified,
} } = Astro.props;
---

<html lang="ja" transition:animate="fade">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="icon" href="/favicon.ico" sizes="16x16 32x32">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="sitemap" href="/sitemap-index.xml" />

    {description ? <meta name="description" content={description} /> : null}
    {description ? <meta property="og:description" content={description} /> : null}
    <meta property="og:image" content={image ?? "https://yuma14.net/ogp.png"} />
    <meta property="og:title" content={title ?? "yuma14.net"} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="yuma14.net" />
    <meta property="og:locale" content="ja_JP" />
    <meta name="creation date" content={date_created ?? ""} />
    <meta name="date" content={date_modified ?? ""} />

    <meta name="generator" content={Astro.generator} />

    <title>{title ? title + " - yuma14.net" : "yuma14.net"}</title>
  </head>
  <ClientRouter />
  <body>
    {disable_breadcrumbs ? null : 
      <div class="breadcrumbs-wrapper">
        <Breadcrumbs linkTextFormat='sentence'>
          <div slot='separator'>»</div>
        </Breadcrumbs>
      </div>
    }
    <main>
      <h1>{title ?? "yuma14.net"}</h1>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  :root {
    --color-primary: #14854f;
    --header-decoration-color: #eee;
  }
  .toc {
    border: 1px solid #111;
    margin-top: 8px;
    ol {
        list-style:none;
    }
  }
  .breadcrumbs-wrapper {
    background-color: #ccc;
    padding: 3px;
    a {
      text-decoration: underline;
    }
  }
  .autolink-headings {
    font-size: 0.8rem;
  }
  h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    .icon.icon-link::before {
      content: " #";
    }
  }
  main img {
    height: auto;
    display: inline;
  }
  main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
  }
  code {
    font-family: monospace;
  }
  pre {
    padding: 9px;
  }
  h1 {
    /* border-bottom: 2px solid var(--color-primary); */
  }
  h2 {
    /*border-bottom: 1px solid var(--color-primary);*/
  }
  /*h1::before {
    content: "# ";
    color: var(--header-decoration-color);
  }
  h2::before {
    content: "## ";
    color: var(--header-decoration-color);
  }
  h3::before {
    content: "### ";
    color: var(--header-decoration-color);
  }
  h4::before {
    content: "#### ";
    color: var(--header-decoration-color);
  }
  h5::before {
    content: "##### ";
    color: var(--header-decoration-color);
  }
  h6::before {
    content: "###### ";
    color: var(--header-decoration-color);
  }*/
</style>
