---
import { ClientRouter } from "astro:transitions";

import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";

const { frontmatter: { 
  title, 
  disable_breadcrumbs,
  description,
  image,
  date_created,
  date_modified,
} } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="icon" href="/favicon.ico" sizes="16x16 32x32">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="sitemap" href="/sitemap-index.xml" />

    {description ? <meta name="description" content={description} /> : null}
    {description ? <meta property="og:description" content={description} /> : null}
    <meta property="og:image" content={image ?? "https://yuma14.net/ogp.png"} />
    <meta property="og:title" content={title ?? "yuma14.net"} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="yuma14.net" />
    <meta property="og:locale" content="ja_JP" />
    <meta name="creation date" content={date_created ?? ""} />
    <meta name="date" content={date_modified ?? ""} />

    <meta name="generator" content={Astro.generator} />

    <title>{title ?? "yuma14.net"}</title>
  </head>
  <ClientRouter />
  <body>
    <h1>{title ?? "yuma14.net"}</h1>
    {disable_breadcrumbs ? null : 
      <div class="breadcrumbs-wrapper">
      <Breadcrumbs linkTextFormat='sentence'>
        <div slot='separator'>»</div>
      </Breadcrumbs>
      </div>
    }
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  .toc {
    border: 1px solid #111;
    margin-top: 8px;
    ol {
        list-style:none;
    }
  }
  .breadcrumbs-wrapper {
    background-color: #ccc;
    padding-bottom: 8px;
  }
  .autolink-headings {
    font-size: 0.8rem;
  }
</style>
